/* global styles */

.left-container {
  flex: 1;
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.right-container {
  flex: 1;
  width: 60%;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

@media (max-width: 700px) {
  .left-container,
  .right-container {
    width: 100%;
    float: none;
  }
}

/*indexstyles */

.modal-dialog {
  width: 100%;
  margin-left: 10px;
  padding-left: 10px;
  min-width: 100%;
  overflow: auto;
}

.scrollable-container {
  width: fit-content;
  height: 550px;
  overflow: auto;
}

.table-wrapper {
  flex: 1;
  /* overflow-x: auto;
  overflow-y: auto; */
  text-align: center;
}

.table thead th {
  background-color: #83faf9;
  color: #000;
}

.table tbody tr:nth-child(even) {
  background-color: #35fae0;
  color: #000;
}

.table tbody tr:nth-child(odd) {
  background-color: white;
}

.table td:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td:nth-child(11) {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td:nth-child(12) {
  white-space: normal;
  word-wrap: break-word;
  max-height: 3em;
  overflow: hidden;
}

.btn-group {
  display: flex;
  gap: 2px;
}

/* .btn {
  color: #000;
  padding: 3px 3px;
  text-align: center;
} */

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-success {
  color: #fff;
  background-color: #0d6e0d;
  border-color: #0d6e0d;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
/* reportstyles */

.studentCard {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

.studentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.studentName {
  font-weight: bold;
}

.studentRegNo {
  text-align: center;
}

.studentClass {
  text-align: center;
}

.courseModules {
  font-weight: bold;
}

.moduleExerciseScores {
  text-align: center;
}

.moduleProjectScores {
  text-align: center;
}

.courseGrade {
  text-align: right;
}

.overallScore {
  text-align: center;
}

.studentPerformance {
  text-align: center;
  margin-top: 10px;
}

#studentReport {
  height: 500px;
  overflow: auto;
}
